[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras-image-helper = "*"
numpy = "*"
grpcio = "*"
flask = "*"
requests = "*"
tensorflow-protobuf = "*"

[dev-packages]

[requires]
python_version = "3.10"
